@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow Condensed";
}

/* general styles  */

@media screen and (max-width: 720px) {
  .info > h1 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .info > h5 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 4.725px;
    color: #d0d6f9;
  }
  .info,
  .dest-info,
  .crew-det,
  .tech-det > p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #d0d6f9;
  }
  .dest-info > h2 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .crew-det > h3 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .tech-det > h3 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .tech-det > h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.362px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .crew-det > h4 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
  }
}

h5 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 4.725px;
  color: #d0d6f9;
}
h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 132px;
  line-height: 170px;
  color: #ffffff;
  text-transform: uppercase;
}
h2 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  color: #ffffff;
}
h3 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-transform: uppercase;
  color: #ffffff;
}
h4 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}
h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ffffff;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}
a {
  text-decoration: none;
}

ul > li > a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* margin-bottom: 1rem; */
}
ul > li > a > .numbering {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
}

ul > li > a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  /* padding-bottom: 2rem; */
}
ul > li > .active {
  border-bottom: 3px solid #fff;
  /* padding-bottom: 2rem; */
  transition: ease-in;
  transition-duration: 200ms;
}

/* nav  */

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
header > img {
  margin-left: 2rem;
}

header > .nav-line {
  border-bottom: 1px solid #fff;
  width: 480px;
  margin-left: 4.4rem;
  /* z-index: 10; */
}

header > .nav {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  /* padding: 2rem 8rem; */
  height: 5.5rem;
  width: 850px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  gap: 2rem;
  margin: auto;
  max-width: 450px;
  padding-top: 2rem;
}
nav > ul > li > a {
  padding-bottom: 2.2rem;
}
.block {
  display: block;
}
.none {
  display: none;
}
.menu {
  display: none;
}
.menu {
  margin-right: 2rem;
}
.nav-menu {
  position: absolute;
  width: 60%;
  height: 100vh;
  right: 0;
  top: 0px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  z-index: 99;
}
.nav-menu > .close {
  position: absolute;
  right: 2rem;
  top: 46px;
}
.nav-menu > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
  padding: 2rem 2rem;
}

/* responsive nav  */

@media screen and (max-width: 1024px) {
  header > .nav {
    /* padding: 2rem 2rem; */
    height: 5.5rem;
    width: 550px;
  }
  header > .nav-line {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  header > .nav {
    display: none;
  }
  .menu {
    display: block;
  }
}

/* home  */
.container {
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.home {
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 10rem;
}
.content {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}
.content > .info {
  width: 385px;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}
.explore {
  position: relative;
  width: 350px;
  height: 350px;
  /* display: hidden; */
}
.explore > .hover {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.explore > button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem 3rem;
  border-radius: 50%;
  border: none;
  outline: none;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 2px;
  color: #0b0d17;
  cursor: pointer;
  opacity: 1 !important;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.explore:hover .hover {
  display: block;
}

/* responsive home  */

@media screen and (max-width: 1024px) {
  .container {
    min-height: 100vh;
  }
  .home {
    background-image: url(./assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 3rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem !important;
    padding: 0 5rem;
    /* padding: 0 10rem; */
  }
  .content > .info {
    width: 400px;
    padding: auto 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 720px) {
  .home {
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 4rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem !important;
    padding: 0 2rem;
    /* padding: 0 10rem; */
  }
  .content > .info {
    width: 375px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* gap: 0.5rem; */
  }
}

/* destination  */
.destination {
  /* background: #0b0d17; */
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 2rem;
  /* position: relative; */
}
.destination-con {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* padding: 0 10rem; */
}
.destination-con > ul {
  align-self: flex-end;
  margin-right: 8.6rem;
}

.content > ul > li > a {
  padding-bottom: 1rem;
}

.destination-con > ul {
  margin-bottom: 0.5rem;
}
.navigation {
  padding: 0 10rem;
}
h5 > span {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 4.725px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.subheading2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #d0d6f9;
}
.subheading1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.destination-det {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
}
.dest-img > img {
  width: 385px;
  height: 385px;
}

.dest-info {
  /* background: #fff; */
  margin-top: 2rem;
}

.dest-info > p {
  padding-bottom: 2rem;
  border-bottom: 0.5px solid #383b4b;
}

.dest-info > div {
  margin: 1rem 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 1024px) {
  .destination {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .destination-con {
    position: relative;
  }
  .destination-con > ul {
    margin-right: 0rem;
    position: absolute;
    align-self: center;
    top: 405px;
  }
  .destination > .navigation {
    padding: 0 2rem;
  }
  .destination-det {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* gap: -3rem; */
  }
  .dest-info {
    /* background: #fff; */
    margin-top: 0.5rem;
  }
  .dest-img > img {
    width: 335px;
    height: 335px;
  }
  .dest-info {
    /* background: #fff; */
    margin-top: -5rem;
    text-align: center;
  }
  .dest-info > div {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
}
@media screen and (max-width: 720px) {
  .destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .destination > .navigation {
    padding: 0;
    text-align: center;
  }
  .dest-info > div {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }
}

/* crew  */
.crew {
  /* background: #0b0d17; */
  background-image: url(./assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 2rem;
}

/* .crew-con > .info {
  justify-content: space-between;
  gap: 5rem;
} */

.crew-det {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 560px;
}
.crew-det > p {
  width: 360px;
}

.crew-det > h4 {
  mix-blend-mode: normal;
  opacity: 0.5;
}
.crew-img > img {
  height: 410px;
  /* max-width: 455px; */
}
.slick-dots > li > button::before {
  color: white !important;
  font-size: 0.7rem !important;
}
.crew-line {
  display: none;
}

@media screen and (max-width: 1024px) {
  .crew {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  .crew > .navigation {
    padding: 0 2rem;
  }
  .crew-con {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8rem !important;
    margin: 2rem auto;
  }
  .crew-det {
    align-items: center;
    text-align: center;
  }
  .crew-det > p {
    width: 525px;
  }
  .slick-slider {
    position: relative;
    width: 100vw;
  }
  .slick-dots {
    position: absolute;
    top: 290px;
    max-width: 100%;
    height: 35px;
  }
}
@media screen and (max-width: 720px) {
  .crew {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .crew > .navigation {
    padding: 0;
    text-align: center;
  }
  .crew-con {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 8rem !important;
    margin: 2rem auto;
  }
  .crew-det > p {
    width: 320px;
  }
  .slick-dots {
    position: absolute;
    top: 515px;
    max-width: 100%;
    height: 35px;
  }
  .crew-line {
    position: absolute;
    top: 490px;
    display: block;
    width: 90vw;
    /* padding: 0 40vw; */
    border-bottom: 1px solid #383b4b;
  }
  /* .crew-img {
    border-bottom: 1px solid #383b4b;
    padding-bottom: 1rem;
  } */
}

/* technology  */
.technology {
  background-image: url(./assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 2rem;
}
.technology > .navigation {
  padding: 0 10rem;
}

.technology-con {
  justify-content: space-between;
  gap: 5rem;
  /* margin-top: 2rem; */
}

.technology-con > .btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn > a > button {
  padding: 1rem 1.5rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  /* letter-spacing: 2px; */
  color: #ffffff;
  cursor: pointer;
}
.btn > a > button:hover {
  /* background: #fff; */
  border: 1px solid rgba(255, 255, 255);
  /* color: #0b0d17; */
}
.btn > .active > button {
  background: #fff;
  color: #0b0d17;
  border-radius: 50%;
}

.tech-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.tech-det {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.img {
  justify-self: flex-end;
}
.img > .img1 {
  height: 410px;
  max-width: 455px;
  margin-right: -10rem;
}
.img > .img2 {
  display: none;
}

@media screen and (max-width: 1024px) {
  .technology {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 2rem;
    min-height: 100vh;
  }
  .technology > .navigation {
    padding: 0 2rem;
  }

  .technology-con {
    position: relative;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5rem;
    /* margin-top: 2rem; */
  }
  .technology-con > .btn {
    position: absolute;
    top: 490px;
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem !important;
    max-width: auto;
  }
  .tech-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin: 4rem auto;
    width: 100%;
  }
  .img {
    /* margin: auto; */
    /* margin-right: auto !important;
    margin-left: auto !important; */
    max-width: 100vw;
    padding: 0;
  }
  .img > .img1 {
    /* height: 410px;
    max-width: 455px;
    margin: auto; */
    display: none;
  }
  .img > .img2 {
    display: block;
    width: 100vw;
    margin: 0;

    /* height: 100%; */
  }

  .tech-det {
    align-items: center;
    text-align: center;
    width: 500px;
  }
}

@media screen and (max-width: 720px) {
  .technology {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 2rem;
  }

  .technology > .navigation {
    padding: 0;
    text-align: center;
  }
  .technology-con > .btn {
    position: absolute;
    top: 360px;
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem !important;
    max-width: auto;
  }
  .img > .img1 {
    max-width: 100%;
  }

  .tech-det {
    max-width: 350px;
    /* padding: auto 5rem; */
  }
  .tech-det > h6 {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .technology-con > .btn {
    position: absolute;
    top: 300px;
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem !important;
    max-width: auto;
  }
}
@media screen and (max-width: 380px) {
  .technology-con > .btn {
    position: absolute;
    top: 280px;
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem !important;
    max-width: auto;
  }
}
